.productdata__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.productdata__item {
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.productdata__des {
  position: relative;
}
.productdata__img {
  width: 280px;
  height: 308px;
  object-fit: cover;
}
.productdata__eye {
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 4px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateX(55px);
  opacity: 0;
  transition: all 0.3s ease;
}
.productdata__cart {
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 80px;
  transform: translateX(55px);
  opacity: 0;
  transition: all 0.5s ease;
}
.productdata__item:hover .productdata__cart{
  transform: translateX(0);
  opacity: 1;
}
.productdata__item:hover .productdata__eye{
  transform: translateX(0);
  opacity: 1;
}

.productdata__heart {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 20px;
  color: rgba(0, 0, 0, 0.568);
  z-index: 999;
}
.productdata__hearts {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 20px;
  color:#f76b6a;
  z-index: 9999;
}
.productdata__sale {
  font-size: 13px;
  color: #555;
}
.productdata__price {
  font-size: 18px;
  color: #f76b6a;
}
.productdata__title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 18px;
  margin-top: 20px;
  color: #000;
}
.bxs-heart {
  color: #f76b6a;
}