.modal-bg {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: end;
  background-color: rgb(0,0,0,0.5);
  z-index: 9999;
  top: 0;
  left: 0;
  overflow-y: scroll;
  visibility: hidden;
}
.m-block {
  visibility: visible;
}

.modal {
  width: 28%;
  height: 100vh;
  background-color: #fff;
  position: relative;
  transform: translateX(600px);
  transition: transform 0.4s ease;
}
.tr {
  transform: translateX(0);
}
.modal__header {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 25px;
}
.modal__header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ececec;
  top: 75px;
}
.modal__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.modal__close {
  font-size: 40px;
  position: relative;
  font-weight: 400;
  left: 100px;
  cursor: pointer;
  bottom: 10px;
}
.modal__form {
  padding: 0 20px;
  margin-top: 20px;
  position: relative;
}
.modal__label {
  font-size: 14px;
  color: #1b1919;
  font-weight: 400;
  margin-bottom: 10px;
}

.modal__spn {
  color: #e01020;
} 
.modal__inps {
  margin-bottom: 30px;
}
.modal__icon {
  position: absolute;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  top: 40px;
  left: 30px;
}
.modal__icon::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 38px;
  top: -6px;
  left: 35px;
  border: 1px solid #ececec;
}
.modal__icons {
  position: absolute;
  bottom: 98px;
  font-size: 20px;
  left: 30px;
}
.modal__icons::after {
  content: "";
  display: inline-block;
  border: 1px solid #ececec;
  height: 39px;
  position: absolute;
  top: -10px;
  left: 35px;
}

.modal__btn {
  width: 100%;
  background: #f76b6a;
  border-color: #f76b6a;
  color: #fff!important;
  position: relative;
  font-weight: 700;
  cursor: pointer;
  min-height: 44px;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.modal__btn:hover {
  opacity: 0.8;
}
.modal__forgot {
  position: relative;
  top: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}
.modal__forgot::after {
  content: "";
  width: 100%;
  display: block;
  border: 1px solid #ececec;
  position: absolute;
  top: 50px;
}
.modal__footer {
  text-align: center;
  margin-top: 100px;
}

.modal__footer-icn {
  font-size: 50px;
}
.modal__footer-text {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.modal__footer-texts {
  margin-bottom: 10px;
  padding: 0 20px;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.modal__footer-link {
  font-size: 14px;
  color: #000;
}